body {
}

h4{
	text-align: center;
	text-transform: uppercase;
}

.white {
 margin: 80px;
 padding:30px;
 text-align: center;
 font-size: 75px;
 font-family: gill sans;
 font-style: normal;
 text-transform: lowercase;
 letter-spacing: 50px;
 background-color: white;
 border: solid 20px;
}

.black {
 margin: 80px;
 padding: 30px;
 text-align: center;
 font-size: 75px;
 font-family: gill sans;
 font-style: normal;
 text-transform: lowercase;
 letter-spacing: 50px;
 color: white;
 background-color: black;
 text-shadow: 0 0 10px #fff, 0 0 30px white , 0 0 50px gray;
}