body {
    position: relative
    background-color: gray;
}


body {
    margin: 0;
    background-color: black;
}

.title {
    color: white;
    text-align: left;
    position:absolute;
    letter-spacing: 30px;
    margin: 100px;
    padding: 20px;
}


.text {
    width: 200px;
    color: white;
    float: inherit;
    position: relative;
    letter-spacing: 80px;
    padding: 300px;
    padding-bottom: 500px;
    margin-left:40%;
    text-align: center;
}

a {
    text-decoration: none;
    color: gray;
    
}
